In [5]:
def get_square_of_number(num):
    squared_number=[]
    for n in num:
        squared_number.append(n*n)
    return squared_number

In [6]:
n=[1,2,3,4,5,6]
get_square_of_number(n)

[1, 4, 9, 16, 25, 36]

In [12]:
def even(num):
    even_num=[]
    for n in num:
        if n%2==0:
            even_num.append(n)
    return even_num

In [13]:
n=[1,2,3,4,5]
even(n)

[2, 4]

In [18]:
def odd(num):
    odd_num=[]
    for i in  num:
        if i%2==1:
            odd_num.append(i)
    return odd_num

In [21]:
n=[]
odd(n)

[]

In [26]:
for i in range(1, 10):
    if i%2==0:
        print("odd_num is",i)
    else:
        print("odd",i)

odd 1
odd_num is 2
odd 3
odd_num is 4
odd 5
odd_num is 6
odd 7
odd_num is 8
odd 9

In [27]:
for i in range(1, 100):
    print(i*i)

1
4
9
16
25
36
49
64
81
100
121
144
169
196
225
256
289
324
361
400
441
484
529
576
625
676
729
784
841
900
961
1024
1089
1156
1225
1296
1369
1444
1521
1600
1681
1764
1849
1936
2025
2116
2209
2304
2401
2500
2601
2704
2809
2916
3025
3136
3249
3364
3481
3600
3721
3844
3969
4096
4225
4356
4489
4624
4761
4900
5041
5184
5329
5476
5625
5776
5929
6084
6241
6400
6561
6724
6889
7056
7225
7396
7569
7744
7921
8100
8281
8464
8649
8836
9025
9216
9409
9604
9801

In [41]:
def multiple(n):
    table=[]
    for i in range(1,10):
        j=n*i
        table.append(j)
        i=i+1
    return table

In [45]:
multiple(6)

[6, 12, 18, 24, 30, 36, 42, 48, 54]

In [46]:
def print_multiplication_table(number, limit):
    for i in range(1, limit + 1):
        result = number * i
        print(f"{number} x {i} = {result}")

# Printing multiplication tables
number = 2
limit = 10  # You can adjust the limit as needed
print_multiplication_table(number, limit)

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

In [61]:
def multiplication_table(num,limit):
    for i in range(1,limit+1):
        result=number*i
        print(f"{number} x {i} = {result}")

multiplication_table(2,10)

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

In [63]:
def multiplication_table(num,limit):
    for i in range(1,limit+1):
        result=number*i
        print(f"{number} x {i} = {result}")

multiplication_table(2,10)

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

In [54]:
def multiplication_table(number, limit):
    for i in range(1, limit + 1):
        result = number * i
        print(f"{number} x {i} = {result}")

multiplication_table(2, 10)

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20